<div class="page-header">
  <h1><%= t("views.balance_sheets.index.title") %></h1>
  <%= link_to t("views.balance_sheets.index.new"), new_balance_sheet_path, class: "btn btn-primary" %>
</div>

<% if @balance_sheets.any? %>
  <%= render "balance_sheets/table", balance_sheets: @balance_sheets %>
<% else %>
  <p class="empty-state"><%= t("views.balance_sheets.index.empty") %></p>
<% end %>
